@use 'base'

nav
    background-color: base.$white !important
.nav-wrapper
    padding-top: 3px !important

.nav-wrapper
    ul
        li
            a
                font-family: roboto !important
                color: base.$color-font-blue
                font-weight: bolder
.sidenav
    ul
        li
            a
                font-family: roboto !important
                color: base.$color-font-nav
                font-weight: bolder
.logo
    width: 153px
    height: auto

.como-ajudar
    color: base.$color-font-blue !important
    border-radius: 15px !important
    border: solid 3px base.$color-font-blue

.como-ajudar-li
    margin: 0px 10px 0px 10px !important

.quero-adotar
    color: base.$white !important
    border-radius: 15px !important
    background-color: base.$orange
    padding: 3px 15px !important

.quero-adotar:hover
    background-color: base.$light-orange !important

.como-ajudar-m
    color: base.$color-font-blue !important
    border-radius: 15px !important
    border: solid 3px base.$color-font-blue

.como-ajudar-li-m
    margin: 0px 10px 0px 10px !important

.quero-adotar-li-m
    margin: 5px 10px 0px 10px !important

.quero-adotar-m
    color: base.$white !important
    border-radius: 15px !important
    background-color: base.$orange
    padding: 3px 15px !important

.quero-adotar-m:hover
    background-color: base.$light-orange !important

@media only screen and (min-width: 601px)
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i
    height: 75px !important

nav ul a
    height: 70px !important

nav ul a:hover
    height: 70px !important

.sidenav-trigger
    color: base.$color-font-blue

.logo-sidenav
    text-align: center
    padding-top: 10px !important

.logo-sidenav a:hover
    background-color: unset !important

.item-nav-li a:hover
    // border-image: url(../img/patas.png) 15 15 15 15 !important

nav ul a:hover
    // background-color: #fff !important
    background-color: rgba(0,0,0,0.1) !important
.nav-active
            background-color: rgba(0,0,0,0.1) !important

.como-ajudar:hover
    background-color: rgba(0,0,0,0.1) !important

#hover-patas
    text-align: center
    margin-top: -35px !important
    height: 40px

#hover-patas img
    width: 34.08px
    height: auto

.esconde
    display: none

.mostra
    display: unset

.section-adote
    font-family: roboto !important
    color: base.$color-font-nav !important
    font-size: 25px
    font-weight: bolder
    padding-top: 20% !important

.padding-top-15
    padding-top: 15px

.bg-azul
    background-color: base.$color-font-blue

.titulo-animais-perdidos
    color: base.$white
    font-size: 34px
    padding-top: 20px

.animais-perdidos
    padding-bottom: 20px !important

.btn-animal-perdido
    background: none
    border: solid 1px #ffffff

.section-animais-perdidos
    font-family: roboto !important
    color: base.$white !important

.nome-animal-perdido
    font-size: 24px
    padding-bottom: 10px

.img-animais-perdidos img
    width: 230px
    height: 230px
    border-radius: 50%

.nome-animal-para-adotar
    font-size: 24px
    padding-bottom: 10px  
    padding-top: 30px

.img-animais-para-adotar img
    width: 230px
    height: 230px
    border-radius: 50%
    // padding-bottom: 30px

.parallax-container
    height: 300px

.section-animais-perdidos
    margin-bottom: 0px !important

.numero-info
    color: base.$orange
    font-size: 65px
    font-weight: bold

.titulo-info
    color: base.$color-font-blue
    font-size: 45px
    font-weight: bold

.fonte-azul-rodape
    color: base.$color-font-blue

.logo-rodape
    width: 70px

.padTop10
    padding-top: 10px !important

.padTop20
    padding-top: 20px !important

.padTop30
    padding-top: 30px !important

.padTop5
    padding-top: 5px !important

.padTop6p
    padding-top: 6% !important

.btn-quero-adotar
    // padding-bottom: 30px
    margin-top: 15px

.fontsize25
    font-size: 25px

.fontsize20
    font-size: 20px