nav {
  background-color: #ffffff !important;
}

.nav-wrapper {
  padding-top: 3px !important;
}

.nav-wrapper ul li a {
  font-family: roboto !important;
  color: #205879;
  font-weight: bolder;
}

.sidenav ul li a {
  font-family: roboto !important;
  color: #38bba8;
  font-weight: bolder;
}

.logo {
  width: 153px;
  height: auto;
}

.como-ajudar {
  color: #205879 !important;
  border-radius: 15px !important;
  border: solid 3px #205879;
}

.como-ajudar-li {
  margin: 0px 10px 0px 10px !important;
}

.quero-adotar {
  color: #ffffff !important;
  border-radius: 15px !important;
  background-color: #fe0000;
  padding: 3px 15px !important;
}

.quero-adotar:hover {
  background-color: #ff8f8f !important;
}

.como-ajudar-m {
  color: #205879 !important;
  border-radius: 15px !important;
  border: solid 3px #205879;
}

.como-ajudar-li-m {
  margin: 0px 10px 0px 10px !important;
}

.quero-adotar-li-m {
  margin: 5px 10px 0px 10px !important;
}

.quero-adotar-m {
  color: #ffffff !important;
  border-radius: 15px !important;
  background-color: #fe0000;
  padding: 3px 15px !important;
}

.quero-adotar-m:hover {
  background-color: #ff8f8f !important;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
  height: 75px !important;
}

nav ul a {
  height: 70px !important;
}

nav ul a:hover {
  height: 70px !important;
}

.sidenav-trigger {
  color: #205879;
}

.logo-sidenav {
  text-align: center;
  padding-top: 10px !important;
}

.logo-sidenav a:hover {
  background-color: unset !important;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.nav-active {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.como-ajudar:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

#hover-patas {
  text-align: center;
  margin-top: -35px !important;
  height: 40px;
}

#hover-patas img {
  width: 34.08px;
  height: auto;
}

.esconde {
  display: none;
}

.mostra {
  display: unset;
}

.section-adote {
  font-family: roboto !important;
  color: #38bba8 !important;
  font-size: 25px;
  font-weight: bolder;
  padding-top: 20% !important;
}

.padding-top-15 {
  padding-top: 15px;
}

.bg-azul {
  background-color: #205879;
}

.titulo-animais-perdidos {
  color: #ffffff;
  font-size: 34px;
  padding-top: 20px;
}

.animais-perdidos {
  padding-bottom: 20px !important;
}

.btn-animal-perdido {
  background: none;
  border: solid 1px #ffffff;
}

.section-animais-perdidos {
  font-family: roboto !important;
  color: #ffffff !important;
}

.nome-animal-perdido {
  font-size: 24px;
  padding-bottom: 10px;
}

.img-animais-perdidos img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
}

.nome-animal-para-adotar {
  font-size: 24px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.img-animais-para-adotar img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
}

.parallax-container {
  height: 300px;
}

.section-animais-perdidos {
  margin-bottom: 0px !important;
}

.numero-info {
  color: #fe0000;
  font-size: 65px;
  font-weight: bold;
}

.titulo-info {
  color: #205879;
  font-size: 45px;
  font-weight: bold;
}

.fonte-azul-rodape {
  color: #205879;
}

.logo-rodape {
  width: 70px;
}

.padTop10 {
  padding-top: 10px !important;
}

.padTop20 {
  padding-top: 20px !important;
}

.padTop30 {
  padding-top: 30px !important;
}

.padTop5 {
  padding-top: 5px !important;
}

.padTop6p {
  padding-top: 6% !important;
}

.btn-quero-adotar {
  margin-top: 15px;
}

.fontsize25 {
  font-size: 25px;
}

.fontsize20 {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
